USE [master]
GO
/****** Object:  Database [MusicWeb]    Script Date: 3/30/2021 11:43:01 PM ******/
CREATE DATABASE [MusicWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MusicWeb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MusicWeb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MusicWeb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MusicWeb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MusicWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MusicWeb]
GO
/****** Object:  Table [dbo].[tblMusic]    Script Date: 3/30/2021 11:43:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMusic](
	[iDmusic] [int] IDENTITY(1,1) NOT NULL,
	[iDacc] [nvarchar](50) NOT NULL,
	[DisplayName] [nvarchar](50) NULL,
	[Image] [nvarchar](50) NULL,
	[Data] [nvarchar](max) NOT NULL,
	[Cotenttype] [nvarchar](max) NULL,
	[luotnghe] [int] NULL,
	[casi] [nvarchar](50) NULL,
	[idchude] [int] NULL,
 CONSTRAINT [PK_Music] PRIMARY KEY CLUSTERED 
(
	[iDmusic] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chude]    Script Date: 3/30/2021 11:43:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chude](
	[IDchude] [int] IDENTITY(1,1) NOT NULL,
	[theloai1] [nvarchar](50) NULL,
	[theloai2] [nvarchar](50) NULL,
	[theloai3] [nvarchar](50) NULL,
	[idacc] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IDchude] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[xemnhac]    Script Date: 3/30/2021 11:43:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE view [dbo].[xemnhac]
as
select tblMusic.iDmusic ,tblMusic.iDacc, tblMusic.DisplayName,tblMusic.Image,tblMusic.Data,
tblMusic.casi,tblMusic.Cotenttype,tblMusic.luotnghe ,chude.theloai1,chude.theloai2,chude.theloai3
from tblMusic,chude
where tblMusic.idchude=chude.IDchude 
GO
/****** Object:  View [dbo].[nhacvpop]    Script Date: 3/30/2021 11:43:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[nhacvpop]
as select tblMusic.iDmusic ,tblMusic.iDacc, tblMusic.DisplayName,tblMusic.Image,tblMusic.Data,
tblMusic.casi,tblMusic.Cotenttype,tblMusic.luotnghe ,chude.theloai1,chude.theloai2,chude.theloai3
from tblMusic,chude
where tblMusic.idchude=chude.IDchude  and  tblMusic.iDmusic>=45 and  tblMusic.iDmusic<=50
group by   tblMusic.iDmusic ,tblMusic.iDacc, tblMusic.DisplayName,tblMusic.Image,tblMusic.Data,
tblMusic.casi,tblMusic.Cotenttype,tblMusic.luotnghe ,chude.theloai1,chude.theloai2,chude.theloai3 
GO
/****** Object:  View [dbo].[nhacmoi]    Script Date: 3/30/2021 11:43:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[nhacmoi]
as select top 50 tblMusic.iDmusic ,tblMusic.iDacc, tblMusic.DisplayName,tblMusic.Image,tblMusic.Data,
tblMusic.casi,tblMusic.Cotenttype,tblMusic.luotnghe ,chude.theloai1,chude.theloai2,chude.theloai3
from tblMusic,chude
where tblMusic.idchude=chude.IDchude  
group by   tblMusic.iDmusic ,tblMusic.iDacc, tblMusic.DisplayName,tblMusic.Image,tblMusic.Data,
tblMusic.casi,tblMusic.Cotenttype,tblMusic.luotnghe ,chude.theloai1,chude.theloai2,chude.theloai3 
order by iDmusic DESC
GO
/****** Object:  Table [dbo].[bxh]    Script Date: 3/30/2021 11:43:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bxh](
	[idbxh] [int] IDENTITY(1,1) NOT NULL,
	[idnhac] [int] NULL,
	[sut] [int] NULL,
 CONSTRAINT [PK_bxh] PRIMARY KEY CLUSTERED 
(
	[idbxh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhactt]    Script Date: 3/30/2021 11:43:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhactt](
	[idtt] [int] IDENTITY(1,1) NOT NULL,
	[idnhac] [int] NULL,
	[tamtrang] [int] NULL,
 CONSTRAINT [PK_nhactt] PRIMARY KEY CLUSTERED 
(
	[idtt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblAccount]    Script Date: 3/30/2021 11:43:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAccount](
	[IDacount] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](50) NULL,
	[gioitinh] [nvarchar](50) NULL,
	[imange] [nvarchar](max) NULL,
	[ngaysinh] [datetime] NULL,
 CONSTRAINT [PK_tblAccount] PRIMARY KEY CLUSTERED 
(
	[IDacount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Theloai]    Script Date: 3/30/2021 11:43:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Theloai](
	[IDtheloai] [nvarchar](50) NOT NULL,
	[Tentheloai] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDtheloai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bxh] ON 

INSERT [dbo].[bxh] ([idbxh], [idnhac], [sut]) VALUES (1, 40, 3)
INSERT [dbo].[bxh] ([idbxh], [idnhac], [sut]) VALUES (2, 72, 3)
INSERT [dbo].[bxh] ([idbxh], [idnhac], [sut]) VALUES (3, 73, 3)
SET IDENTITY_INSERT [dbo].[bxh] OFF
GO
SET IDENTITY_INSERT [dbo].[chude] ON 

INSERT [dbo].[chude] ([IDchude], [theloai1], [theloai2], [theloai3], [idacc]) VALUES (1, N'Nhạc Trịnh', N'Indie', N'Nhạc Hàn', N'admin')
INSERT [dbo].[chude] ([IDchude], [theloai1], [theloai2], [theloai3], [idacc]) VALUES (55, N'Jazz', N'Indie', N'Nhạc Âu Mỹ', N'thang')
INSERT [dbo].[chude] ([IDchude], [theloai1], [theloai2], [theloai3], [idacc]) VALUES (62, N'Indie', N'Nhạc Việt', N'R&B', N'thang')
SET IDENTITY_INSERT [dbo].[chude] OFF
GO
SET IDENTITY_INSERT [dbo].[nhactt] ON 

INSERT [dbo].[nhactt] ([idtt], [idnhac], [tamtrang]) VALUES (1, 61, 1)
INSERT [dbo].[nhactt] ([idtt], [idnhac], [tamtrang]) VALUES (2, 62, 1)
INSERT [dbo].[nhactt] ([idtt], [idnhac], [tamtrang]) VALUES (3, 63, 1)
SET IDENTITY_INSERT [dbo].[nhactt] OFF
GO
INSERT [dbo].[tblAccount] ([IDacount], [Password], [Name], [email], [gioitinh], [imange], [ngaysinh]) VALUES (N'admin', N'1', N'admin', N'huuthang.nguyen.986@gmail.com', N'Nam', NULL, CAST(N'1999-03-03T00:00:00.000' AS DateTime))
INSERT [dbo].[tblAccount] ([IDacount], [Password], [Name], [email], [gioitinh], [imange], [ngaysinh]) VALUES (N'thang', N'1', N'Thắng', N'huuthang.nguyen/986@gmial.com', N'Nam', NULL, CAST(N'1999-03-03T00:00:00.000' AS DateTime))
INSERT [dbo].[tblAccount] ([IDacount], [Password], [Name], [email], [gioitinh], [imange], [ngaysinh]) VALUES (N'user1', N'1', N'Nguyễn Văn A', N'huuthang.nguyen.986@gmail.com', N'Nữ', NULL, CAST(N'1999-03-03T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[tblMusic] ON 

INSERT [dbo].[tblMusic] ([iDmusic], [iDacc], [DisplayName], [Image], [Data], [Cotenttype], [luotnghe], [casi], [idchude]) VALUES (40, N'admin', N'Em Say Rồi', N'/image/emsairoi.jpg', N'music/EmSaiRoi-Thuongvo,ACV.mp3', N'Em say… Anh có thể đến đây không?
Có thể để em ôm', 0, N'Thương Võ', 1)
INSERT [dbo].[tblMusic] ([iDmusic], [iDacc], [DisplayName], [Image], [Data], [Cotenttype], [luotnghe], [casi], [idchude]) VALUES (41, N'thang', N'Hết Thời', N'/image/8246ddb97803da19aaa7cb5039e26671.jpg', N'music/Het Thoi - Ngot.mp3', N' Content', 0, N'Ngọt ', 62)
SET IDENTITY_INSERT [dbo].[tblMusic] OFF
GO
INSERT [dbo].[Theloai] ([IDtheloai], [Tentheloai]) VALUES (N'TL1', N'Jazz')
INSERT [dbo].[Theloai] ([IDtheloai], [Tentheloai]) VALUES (N'TL10', N'Nhạc Việt')
INSERT [dbo].[Theloai] ([IDtheloai], [Tentheloai]) VALUES (N'TL11', N'Nhạc Trịnh')
GO
ALTER TABLE [dbo].[tblMusic] ADD  DEFAULT ((0)) FOR [luotnghe]
GO
ALTER TABLE [dbo].[nhactt]  WITH CHECK ADD  CONSTRAINT [FK_nhactt_tblMusic] FOREIGN KEY([idnhac])
REFERENCES [dbo].[tblMusic] ([iDmusic])
GO
ALTER TABLE [dbo].[nhactt] CHECK CONSTRAINT [FK_nhactt_tblMusic]
GO
ALTER TABLE [dbo].[tblMusic]  WITH CHECK ADD  CONSTRAINT [FK_tblMusic_chude] FOREIGN KEY([idchude])
REFERENCES [dbo].[chude] ([IDchude])
GO
ALTER TABLE [dbo].[tblMusic] CHECK CONSTRAINT [FK_tblMusic_chude]
GO
ALTER TABLE [dbo].[tblMusic]  WITH CHECK ADD  CONSTRAINT [FK_tblMusic_tblAccount] FOREIGN KEY([iDacc])
REFERENCES [dbo].[tblAccount] ([IDacount])
GO
ALTER TABLE [dbo].[tblMusic] CHECK CONSTRAINT [FK_tblMusic_tblAccount]
GO
/****** Object:  StoredProcedure [dbo].[addacount]    Script Date: 3/30/2021 11:43:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addacount]
@id nvarchar(50),
@pasword nvarchar(50),
@name nvarchar(50),
@email nvarchar(50),
@ngaysinh datetime,
@gioitinh nvarchar(50)
as
begin
insert into tblAccount(IDacount,Password,Name,email,ngaysinh,gioitinh)
values(@id,@pasword,@name,@email,@ngaysinh,@gioitinh)
end
GO
/****** Object:  StoredProcedure [dbo].[selectAcount]    Script Date: 3/30/2021 11:43:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[selectAcount]
@taikhoan nvarchar(50),
@matkhau nvarchar(50)
as
begin
	SELECT *from tblAccount where IDacount= @taikhoan and  Password=  @matkhau
end
GO
/****** Object:  StoredProcedure [dbo].[selectid]    Script Date: 3/30/2021 11:43:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[selectid]
@taikhoan nvarchar(50)
as
begin
	SELECT *from tblAccount where IDacount= @taikhoan
end
GO
/****** Object:  StoredProcedure [dbo].[theloainhac]    Script Date: 3/30/2021 11:43:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[theloainhac]
@theloai1 nvarchar(50),
@theloai2 nvarchar(50),
@theloai3 nvarchar(50)
as
begin
select *from tblMusic inner join chude  on tblMusic.idchude=chude.IDchude  where chude.theloai1=@theloai1 or  chude.theloai2=@theloai2 or  chude.theloai3=@theloai3
end
GO
/****** Object:  StoredProcedure [dbo].[timkiem]    Script Date: 3/30/2021 11:43:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[timkiem]
@name nvarchar(50)
as
begin 
 select top 20 *from tblMusic where DisplayName LIKE N'%' + @name  + '%'
end
GO
/****** Object:  StoredProcedure [dbo].[updatenhac]    Script Date: 3/30/2021 11:43:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updatenhac]
@namenhac nvarchar(50),
@namecasi nvarchar(50),
@content nvarchar(50),
@idnhac int
as
begin
update tblMusic 
set DisplayName=@namenhac, casi=@namecasi,Cotenttype=@content
where tblMusic.iDmusic=@idnhac
end
GO
USE [master]
GO
