@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.taochude {
    background: #FFFFFF;
    max-width: 100%;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.btnxoa {
    background: #FFFFFF;
    border: 0;
    outline: 0;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    padding: 0px;
}

input {
    width: 15%;
    outline: 0;
    background: #4CAF50;
    border: 0;
    margin: 0 0 15px;
    padding: 12px;
    box-sizing: border-box;
    font-size: 14px;
}
