@import url(https://fonts.googleapis.com/css?family=Roboto:300);



audio {
    margin: 3px 0 0 0;
}

.leftcolumn {
    background-color: #2e7ce6;
}

.row {
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.menutheloai {
    background-color: #2e7ce6;
}

a {
    color: white;
    text-decoration: none;
}
.tit {
    color: black;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

ul {
}

    ul li a {
        margin: 10px 10px 10px 10px;
        display: block;
        width: 90%;
        height: 25px;
    }

        ul li a:hover {
            background-color: red;
        }
.chiacot
{
    display:grid;
    grid-template-columns:2fr 4fr;
}
.imgwward {
    border-radius: 3px;
    margin:0 0 0 5px;
}
.wrap2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.imgg {
    height: 90px;
    width: 95%;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
    float: left;
    margin: 0 0 0 5px;
}
.audion{
  margin: 10px 0 10px 0;
    display:grid;
    grid-template-columns:1fr 1fr;
}


.k22 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 10px;
}

.img-k22 {
    width: 97%;
    height: auto;
    margin: 1px;
}