@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.imgg2 {
   
    height: 100px;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
    float: left;
    margin: 0 0 10px 10px;
}
.imgg {
    height: 100px;
    width: 30%;
    object-fit: cover;
    border-radius: 15px;
    cursor: pointer;
    float: left;
    margin: 0 0 0 270px;
}

audio {
    margin: 3px 0 0 0;
}

.leftcolumn {
    background-color: #2e7ce6;
}

.row {
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.menutheloai {
    background-color: #2e7ce6;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

ul {
}

    ul li a {
        margin: 10px 10px 10px 10px;
        display: block;
        width: 90%;
        height: 25px;
    }

        ul li a:hover {
            background-color: red;
        }






.form-fileup {
    z-index: 1;
    background: #FFFFFF;
    max-width: 80%;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

p {
    margin: 10px 0 0 9px;
}

.theh3 {
    font-family: "Roboto", sans-serif;
    font-size: 200%;
    margin: 0 0 20px 0;
}

.fileUpload {
    font-family: "Roboto", sans-serif;
    background-color: #4CAF50;
    border-radius: 0;
    color: #fff;
    font-size: 100%;
    height: 100%;
    left: 0;
    margin: 0 0 0 15px;
    width: 35%
}

.imageupload {
    font-family: "Roboto", sans-serif;
    background-color: #4CAF50;
    border-radius: 0;
    color: #fff;
    font-size: 100%;
    height: 100%;
    left: 0;
    margin: 0 0 0 15px;
    width: 35%
}

.txtname, .txtnd {
    width: 35%;
    outline: 0;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 15px;
    padding: 12px;
    box-sizing: border-box;
    font-size: 14px;
}

.txtnd {
    width: 50%;
}

.btnUpload {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 25%;
    border: 0;
    margin: 2px;
    padding: 10px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
