@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.leftcolumn {
    background-color: #2e7ce6;
}

.row {
    font-family: "Roboto", sans-serif;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.menutheloai {
    background-color: #2e7ce6;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    margin-top: 10px;
    margin-bottom: 25px;
    list-style: none;
}

ul {
}

    ul li a {
        margin: 10px 10px 10px 10px;
        display: block;
        width: 90%;
        height: 25px;
    }

        ul li a:hover {
            background-color: red;
        }

.theloai {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

    .theloai a {
        color: black;
        background-color: aqua;
        margin: 3px;
        border-radius: 5px;
        padding: 5px 0 0 0;
        width: 72%;
        height: 35px;
        font-size: 110%;
        font-weight: 600;
        text-align: center;
    }